/* https://github.com/unocss/unocss/blob/main/docs/.vitepress/theme/rainbow.css */
@keyframes rainbow {
    0% { --text-colour: #00a98e; --bg-colour: #005d47; --next-colour: #009ff7; }
    1.25% { --text-colour: #00a996; --bg-colour: #005e4f; --next-colour: #009dfa; }
    2.5% { --text-colour: #00a99f; --bg-colour: #005e56; --next-colour: #009bfc; }
    3.75% { --text-colour: #00a9a7; --bg-colour: #005e5e; --next-colour: #0098fd; }
    5% { --text-colour: #00a9b0; --bg-colour: #005e65; --next-colour: #0096fd; }
    6.25% { --text-colour: #00a9b8; --bg-colour: #005e6d; --next-colour: #0093fd; }
    7.5% { --text-colour: #00a9c0; --bg-colour: #005e74; --next-colour: #2e90fc; }
    8.75% { --text-colour: #00a8c7; --bg-colour: #005e7b; --next-colour: #4d8dfa; }
    10% { --text-colour: #00a8cf; --bg-colour: #005e81; --next-colour: #638af8; }
    11.25% { --text-colour: #00a7d5; --bg-colour: #005d87; --next-colour: #7587f5; }
    12.5% { --text-colour: #00a6dc; --bg-colour: #005d8d; --next-colour: #8583f1; }
    13.75% { --text-colour: #00a6e2; --bg-colour: #005c93; --next-colour: #9280ed; }
    15% { --text-colour: #00a4e7; --bg-colour: #005b98; --next-colour: #9f7ce9; }
    16.25% { --text-colour: #00a3ec; --bg-colour: #005b9c; --next-colour: #aa78e3; }
    17.5% { --text-colour: #00a2f1; --bg-colour: #0059a0; --next-colour: #b574dd; }
    18.75% { --text-colour: #00a0f4; --bg-colour: #0058a3; --next-colour: #be71d7; }
    20% { --text-colour: #009ff7; --bg-colour: #0057a6; --next-colour: #c76dd1; }
    21.25% { --text-colour: #009dfa; --bg-colour: #0055a8; --next-colour: #cf69c9; }
    22.5% { --text-colour: #009bfc; --bg-colour: #0053aa; --next-colour: #d566c2; }
    23.75% { --text-colour: #0098fd; --bg-colour: #0051ab; --next-colour: #dc63ba; }
    25% { --text-colour: #0096fd; --bg-colour: #004fab; --next-colour: #e160b3; }
    26.25% { --text-colour: #0093fd; --bg-colour: #004dab; --next-colour: #e65eab; }
    27.5% { --text-colour: #2e90fc; --bg-colour: #004baa; --next-colour: #e95ca2; }
    28.75% { --text-colour: #4d8dfa; --bg-colour: #0048a9; --next-colour: #ed5a9a; }
    30% { --text-colour: #638af8; --bg-colour: #0045a7; --next-colour: #ef5992; }
    31.25% { --text-colour: #7587f5; --bg-colour: #0941a4; --next-colour: #f15989; }
    32.5% { --text-colour: #8583f1; --bg-colour: #2e3ea1; --next-colour: #f25981; }
    33.75% { --text-colour: #9280ed; --bg-colour: #413a9d; --next-colour: #f25a79; }
    35% { --text-colour: #9f7ce9; --bg-colour: #503598; --next-colour: #f25c71; }
    36.25% { --text-colour: #aa78e3; --bg-colour: #5c3193; --next-colour: #f15e69; }
    37.5% { --text-colour: #b574dd; --bg-colour: #662c8e; --next-colour: #ef6061; }
    38.75% { --text-colour: #be71d7; --bg-colour: #6f2688; --next-colour: #ed635a; }
    40% { --text-colour: #c76dd1; --bg-colour: #772082; --next-colour: #eb6552; }
    41.25% { --text-colour: #cf69c9; --bg-colour: #7e197c; --next-colour: #e8694b; }
    42.5% { --text-colour: #d566c2; --bg-colour: #841075; --next-colour: #e46c44; }
    43.75% { --text-colour: #dc63ba; --bg-colour: #89046f; --next-colour: #e06f3d; }
    45% { --text-colour: #e160b3; --bg-colour: #8d0068; --next-colour: #db7336; }
    46.25% { --text-colour: #e65eab; --bg-colour: #910060; --next-colour: #d77630; }
    47.5% { --text-colour: #e95ca2; --bg-colour: #940059; --next-colour: #d17a2a; }
    48.75% { --text-colour: #ed5a9a; --bg-colour: #970052; --next-colour: #cc7d24; }
    50% { --text-colour: #ef5992; --bg-colour: #98004b; --next-colour: #c6811e; }
    51.25% { --text-colour: #f15989; --bg-colour: #9a0043; --next-colour: #bf8418; }
    52.5% { --text-colour: #f25981; --bg-colour: #9a003c; --next-colour: #b98713; }
    53.75% { --text-colour: #f25a79; --bg-colour: #9a0035; --next-colour: #b28a0f; }
    55% { --text-colour: #f25c71; --bg-colour: #99002e; --next-colour: #ab8d0c; }
    56.25% { --text-colour: #f15e69; --bg-colour: #980027; --next-colour: #a3900b; }
    57.5% { --text-colour: #ef6061; --bg-colour: #970020; --next-colour: #9c920d; }
    58.75% { --text-colour: #ed635a; --bg-colour: #940619; --next-colour: #949510; }
    60% { --text-colour: #eb6552; --bg-colour: #921111; --next-colour: #8b9715; }
    61.25% { --text-colour: #e8694b; --bg-colour: #8f1908; --next-colour: #83991b; }
    62.5% { --text-colour: #e46c44; --bg-colour: #8c1f00; --next-colour: #7a9b21; }
    63.75% { --text-colour: #e06f3d; --bg-colour: #882500; --next-colour: #719d27; }
    65% { --text-colour: #db7336; --bg-colour: #842a00; --next-colour: #679e2e; }
    66.25% { --text-colour: #d77630; --bg-colour: #802f00; --next-colour: #5da035; }
    67.5% { --text-colour: #d17a2a; --bg-colour: #7b3300; --next-colour: #51a13c; }
    68.75% { --text-colour: #cc7d24; --bg-colour: #773700; --next-colour: #44a244; }
    70% { --text-colour: #c6811e; --bg-colour: #713b00; --next-colour: #34a44b; }
    71.25% { --text-colour: #bf8418; --bg-colour: #6c3e00; --next-colour: #1ba553; }
    72.5% { --text-colour: #b98713; --bg-colour: #674100; --next-colour: #00a65b; }
    73.75% { --text-colour: #b28a0f; --bg-colour: #614400; --next-colour: #00a663; }
    75% { --text-colour: #ab8d0c; --bg-colour: #5b4700; --next-colour: #00a76c; }
    76.25% { --text-colour: #a3900b; --bg-colour: #554900; --next-colour: #00a874; }
    77.5% { --text-colour: #9c920d; --bg-colour: #4e4b00; --next-colour: #00a87d; }
    78.75% { --text-colour: #949510; --bg-colour: #474d00; --next-colour: #00a985; }
    80% { --text-colour: #8b9715; --bg-colour: #404f00; --next-colour: #00a98e; }
    81.25% { --text-colour: #83991b; --bg-colour: #385100; --next-colour: #00a996; }
    82.5% { --text-colour: #7a9b21; --bg-colour: #2f5200; --next-colour: #00a99f; }
    83.75% { --text-colour: #719d27; --bg-colour: #255300; --next-colour: #00a9a7; }
    85% { --text-colour: #679e2e; --bg-colour: #185500; --next-colour: #00a9b0; }
    86.25% { --text-colour: #5da035; --bg-colour: #015600; --next-colour: #00a9b8; }
    87.5% { --text-colour: #51a13c; --bg-colour: #005700; --next-colour: #00a9c0; }
    88.75% { --text-colour: #44a244; --bg-colour: #005700; --next-colour: #00a8c7; }
    90% { --text-colour: #34a44b; --bg-colour: #005801; --next-colour: #00a8cf; }
    91.25% { --text-colour: #1ba553; --bg-colour: #00590d; --next-colour: #00a7d5; }
    92.5% { --text-colour: #00a65b; --bg-colour: #005917; --next-colour: #00a6dc; }
    93.75% { --text-colour: #00a663; --bg-colour: #005a20; --next-colour: #00a6e2; }
    95% { --text-colour: #00a76c; --bg-colour: #005b28; --next-colour: #00a4e7; }
    96.25% { --text-colour: #00a874; --bg-colour: #005c30; --next-colour: #00a3ec; }
    97.5% { --text-colour: #00a87d; --bg-colour: #005c37; --next-colour: #00a2f1; }
    98.75% { --text-colour: #00a985; --bg-colour: #005d3f; --next-colour: #00a0f4; }
    100% { --text-colour: #00a98e; --bg-colour: #005d47; --next-colour: #009ff7; }
}

:root {
  --text-colour: #00a98e; --bg-colour: #008269; --next-colour: #009ff7;
  --colour-gradient: -webkit-linear-gradient(
    120deg,
    var(--next-colour),
    var(--text-colour) 50%
  );
  animation: rainbow 80s linear infinite;
}

.bg-rainbow {
    background-color: var(--bg-colour);
}
.bg-rainbow-gradient {
    background: var(--colour-gradient)
}
.text-rainbow {
    color: var(--text-colour);
}
.text-rainbow-gradient {
    background: var(--colour-gradient);
    background-clip: text;
    color: transparent;
}
